<%- include('partials/header') %>
<div class="main about">
    <h3>professional bio</h3>
    <p>backend developer and project lead with more than 13 years of experience developing software, building scalable and automated backend systems, being a catalyst for cross department coordination, and being a team player with great communication and analytical skills.</p>
    <p>previous work included backend positions in edge computing, cybersecurity, and mass data collection and analysis.</p>
    <p>research includes:
        <ul>
            <li>machine learning topics</li>
            <li>nmap automated scanning</li>
            <li>network data parsing</li>
            <li>cve detection on systems</li>
            <li>flipper zero</li>
        </ul>
    </p>
</div>
<%- include('partials/footer') %>