<%- include('partials/header') %>
<div class="center">
    <img class="center" src="/assets/images/cerberus.png" alt="cerberus" />
</div>
<%- include('partials/footer') %>
<!-- This is the script that we would be creating later -->
<script src="./js/scripts.js"></script>