
<%- include('partials/header') %>
<div class="main">
    <% text.forEach(function(line, row) { %>
        <p class="hex"><%- getCurLine(line, row) %></p>
    <% }) %>
</div>
<%- include('partials/footer') %>

<%
function getCurLine(line, row) {
    var curline = "";

    line.split("").forEach(function(char, col) {
        if (!/\r|\n/.exec(char)) {
            var spanClass = "dark row" + row + " col" + col;
            curline += "&zwj;<span class='" + spanClass + "'>" + char + "</span>";
        }
    });

    return curline;
}
%>