<%- include('partials/header') %>
<div class="main">
    <% if (isBlog) { %>
        <%- f.getPosts(posts) %>
    <% } else if (post) { %>
        <%- f.getPost(post) %>
    <% } else { %>
        <p>post not found</p>
    <% } %>
</div>
<%- include('partials/footer') %>