<div class="footer">
  <div class="license">
    <p>powered by <a href="https://vercel.com" target="_blank">▲ vercel</a></p>
    <p>content on this site is licensed <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a></p>
  </div>
</div>