<nav>
  <a href="/">../</a> |
  <a href="/thoughts">thoughts</a> |
  <a href="/about">about</a> |
  <a href="https://github.com/eplewis89" target="_blank">github</a> |
  <a href="https://linkedin.com/in/eplewis89" target="_blank">linkedin</a>
</nav>